* {
    box-sizing: border-box;
    margin: 0; /*normalize css*/
    padding: 0;
    border: 1px solid black; /*Used to see the container of each elements*/
}
:root {
    --menu-font: sans-serif;
}
.navigation {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(5, 1fr); 
    font-weight: bold;
    font-family: sans-serif;
    background: linear-gradient(45deg, #070070, #300045);
    height: 10vh;
}
.list {
    grid-column: 12 / 15;
    grid-row: 3 / 4;
    place-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
}
@media (max-width: 80%) {
    .list {
        grid-column: 6 / 9;
    }
}
.list-item {
    list-style: none;
}
.list-item a {
    color: white;
}
.list-item a:hover {
    background-color: hsl(15, 98%, 47%);
}

#main-address {
    color: hsl(6, 94%, 35%);
    text-align: center;
}
