* {
    box-sizing: border-box;
    border: 1px solid black; /*Used to see the container of each elements*/
}
:root {
    --background-color1: hsl();
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    gap: 3%;
    font-weight: bold;
    font-family: sans-serif;
    background: linear-gradient(45deg, #070070, #300045);
    height: 10vh;
    border-radius: 5px;
}
.list-item {
    list-style: none;
}
.list-item a {
    color: white;
}
.list-item a:hover {
    background-color: hsl(15, 98%, 47%);
}

#main-address {
    color: hsl(6, 94%, 35%);
    text-align: center;
}
