* {
    box-sizing: border-box;
    margin: 0; /*normalize css*/
    padding: 0;
    /*border: 1px solid white; /*Used to see the container of each elements*/
}
:root {
    --main-font: Roboto, sans-serif;
    --font-color-menu: #e0e0e0;
    --font-color-main: hsl(245, 100%, 8%);
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    font-family: var(--main-font);
}
/*---------------------------------Header here-------------------------------------*/
header {
    height: 8vh;
    position: sticky;
    top: 0px;
    z-index: 5;
    background: #0A014F;
}
.navigation {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(5, 1fr); 
    height: 100%; /*header is an indeterminate height*/
}
.shortened-list {
    display: none; /*to hide until media queries*/
}
.list {
    grid-column: 8 / 15;
    grid-row: 3 / 4;
    place-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
    height: 100%;
    animation-name: appear-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0ms;
    animation-iteration-count: 1;
}
.list a {
    background: transparent;
    height: 100%;
    color: var(--font-color-menu);
    font-weight: 900;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
@keyframes appear-in  { /*translateY for moving an element. Opacity for transparent*/
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
/*---------------------------------Header ends here-------------------------------------*/

/*---------------------------------Intro here-------------------------------------*/
#intro {
    height: 100vh;
    background: linear-gradient(to right, #3498DB 0%, #3498DB 50%, #00AAFF 50%, #00AAFF 100% );
    position: relative;
}
.intro-paragraph {
    height: 60%;
    width: 60%;
    position: absolute;
    top: 3%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: var(--font-color-main);
    font-weight: 900;
    font-size:x-large;
    user-select: none;
}
#first-sentence {
    font-size: 5rem;
}
#clickable {
    color: red;
    cursor: pointer;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0ms;
}
/*---------------------------------Intro ends here-------------------------------------*/

/*---------------------------------Experience here-------------------------------------*/
#experience {
    height: 100vh;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    position: relative;
}
.sign {
    background-image: url("./images/closed.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.sign {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 3rem;
}
/*---------------------------------Experience ends here-------------------------------------*/

/*---------------------------------Skills here-------------------------------------*/
#skills {
    height: 95vh;
    background-image: linear-gradient(180deg,  rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 99.9%);
    position: relative;
}

.skills-section{
    width: 80%;
    height: 75%;
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 2rem;
}
.about-me-paragraph {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}
.about-me-paragraph h {
    font-size: 5rem;
    font-weight: 900;
    color: red;
}
.about-me-paragraph p {
    text-align: center;
}
.skills-section div ol, .about-me-paragraph {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
.skills-list {
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.skills-list ol {
    width: 40%;
    height: 100%;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}
.lang-li {
    display: none;
    transition: display 1s ease-in-out 0ms; 
}
.tech-li {
    display: none;
    transition: display 1s ease-in-out 0ms;
}
/*---------------------------------Skills end here-------------------------------------*/

/*---------------------------------Projects here-------------------------------------*/
#projects {
    height: 100vh;
    background-image: linear-gradient( 91.2deg,  rgba(136,80,226,1) 4%, rgba(16,13,91,1) 96.5% );
    position: relative;
}
.projects-image {
    height: 80%;
    width: 80%;
    background-image: url(./images/project-imgs/image1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    border: 5px solid yellow;
    border-radius: 10px;
}
.switching {
    display: inline;
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
    position: relative;
    top: 2%;
    left: 10%;
    color: white;
}
.imageId {
    height: 25px;
    width: 25px;
    user-select: none;
    background: white;
    cursor:pointer;
}
#image1 {
    background: red;
}
.project-image-cap {
    width: fit-content;
    height: fit-content;
    background: beige;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    margin: auto;
    transform: translateY(50%);
}
.javascript-hover:hover {
    
}
/*---------------------------------Projects end here-------------------------------------*/


/*---------------------------------Contacts here-------------------------------------*/
#contacts {
    height: 15vh;
    background-image: linear-gradient(to right, rgba(2,37,78,1),rgba(4,56,126,1));
    position: relative;
}
.contact-socials {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    column-gap: 5%;

}
.contact-socials a:link, .contact-socials a:visited {
    text-decoration: none;
    color: white;
}
.contact-socials a:hover {
    color: white;
}
.socials-logo {
    height: 50px;
    width: 50px;
    opacity: 0.5px;
}

.contact-message {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 0%;
    left: 50%;
    color: white;
    transform: translateX(30px);
    font-size: 2rem;
    text-align: center;
}
/*---------------------------------Contacts end here-------------------------------------*/

/*All media queries*/
@media only screen and (max-width: 600px) {
    .list {
        display: none;
    }
    .shortened-list {
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    .list {
        grid-column: 1 / 15;
        column-gap: 5%;
    }
}
@media only screen and (min-width: 1200px) {
}