* {
    box-sizing: border-box;
    margin: 0; /*normalize css*/
    padding: 0;
    /*border: 1px solid white; /*Used to see the container of each elements*/
}
:root {
    --main-font: Roboto, sans-serif;
    --font-color-menu: #e0e0e0;
    --font-color-main: hsl(245, 100%, 8%);
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    font-family: var(--main-font);
}
/*---------------------------------Header here-------------------------------------*/
header {
    height: 3.5rem;
    position: sticky;
    top: 0px;
    z-index: 5;
    background: #0A014F;
}
.navigation {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    height: 100%; /*header is an indeterminate height*/
}
.nav-unit {
    display: none;
    height: 100%;
    width: 30px;
}
.list {
    grid-column: 9 / 15;
    grid-row: 3 / 4;
    place-items: center flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
    animation-name: appear-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0ms;
    animation-iteration-count: 1;
}
.list a {
    background: transparent;
    height: 100%;
    color: var(--font-color-menu);
    font-weight: 900;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
@keyframes appear-in  { /*translateY for moving an element. Opacity for transparent*/
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
/*---------------------------------Header ends here-------------------------------------*/

/*---------------------------------Intro here-------------------------------------*/
#intro {
    height: 100vh;
    background: linear-gradient(to right, #3498DB 0%, #3498DB 50%, #00AAFF 50%, #00AAFF 100% );
    position: relative;
}
.intro-paragraph {
    height: 60%;
    width: 60%;
    position: absolute;
    top: 3%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: var(--font-color-main);
    font-weight: 900;
    font-size:x-large;
    user-select: none;
}
#first-sentence {
    font-size: 5rem;
}
#clickable {
    color: red;
    cursor: pointer;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0ms;
}
.resume-button {
    display: none;
}
/*---------------------------------Intro ends here-------------------------------------*/

/*---------------------------------Experience here-------------------------------------*/
#experience {
    height: 100vh;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    position: relative;
}
.sign {
    background-image: url("./images/closed.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.sign {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 3rem;
}
/*---------------------------------Experience ends here-------------------------------------*/

/*---------------------------------Skills here-------------------------------------*/
#skills {
    height: 95vh;
    background-image: linear-gradient(180deg,  rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 99.9%);
    position: relative;
}

.skills-section{
    width: 80%;
    height: 75%;
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 2rem;
}
.about-me-paragraph {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}
.about-me-paragraph h {
    font-size: 5rem;
    font-weight: 900;
    color: red;
    cursor: pointer;
}
.about-me-paragraph p {
    text-align: center;
    transition: opacity 1.75s ease, transform 1.75s ease; 
}
.about-me-text {
    opacity: 0;
    transform: translateY(-20px);
}
.skills-section div ol, .about-me-paragraph {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
.skills-list {
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.skills-list ol {
    width: 40%;
    height: 100%;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    cursor: grab;
    overflow: hidden;
    position: relative;
    color: navy;
    font-weight: bold;
}
.prog-heading {
    transition: transform 1s ease-in-out 0ms;
    user-select: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgb(255, 255, 204), rgb(255, 165, 0));
}
.prog-list {
    height: 100%;
    width: 100%;
    position: absolute; /*To hide with overflow: hidden in the container*/
    top: 100%;
    transition: top 1s ease-in-out 0ms; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, rgb(255, 165, 0), rgb(255, 140, 0));
}
/*---------------------------------Skills end here-------------------------------------*/

/*---------------------------------Projects here-------------------------------------*/
#projects {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient( 91.2deg,  rgba(136,80,226,1) 4%, rgba(16,13,91,1) 96.5% );
    position: relative;

}
.projects-image-section {
    height: 80%;
    width: 80%;
    margin: auto;
    border: 5px solid yellow;
    border-radius: 10px;
    transition: transform 1s ease-in-out;
    transform: translateX(0%);
    overflow: hidden;
}
.projects-image {
    height: 100%;
    width: 100%;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
}
.switching {
    display: inline;
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    color: white;
    position: relative;
    top: 2%;
    left: 10%;
}
.imageId {
    height: 15px;
    width: 15px;
    user-select: none;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
.project-image-cap {
    width: fit-content;
    height: fit-content;
    background: beige;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    transition: width 1s ease;
    display: block;
    margin-top: 20px;
}
.javascript-extra {
    color: red;
}
#extra-javascript-projects {
    height: 0%;
    width: 100%;
    transition: height 1s ease;
}
.javascript-extra:active ~ #extra-javascript-projects {
    height: 100%;
}
/*---------------------------------Projects end here-------------------------------------*/


/*---------------------------------Contacts here-------------------------------------*/
#contacts {
    height: 20vh;
    background-image: linear-gradient(to right, rgba(2,37,78,1),rgba(4,56,126,1));
}
.contact-area {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contact-socials {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    column-gap: 10px;
    row-gap: 10px;
}
.socials-logo {
    height: 50px;
    width: 50px;
    opacity: 0.5px;
    border-radius: 30%;
    transform: translateY(0);
    transition: transform 0.5s ease;
}
.socials-logo:hover {
    transform: translateY(-10px);
}
.contact-message {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-style: italic;   
    font-weight: 500;
}
.contact-message p:nth-child(1) {
    font-size: 2rem;
}
.contact-message p:nth-child(2) {
    font-size: 1.5rem;
}
/*---------------------------------Contacts end here-------------------------------------*/

/*All media queries*/
@media only screen and (max-width: 768px) {
    .list {
        display: none;
    }
    .nav-unit {
        display: block;
    }
    .nav-unit:checked ~ .list { /*Tilde affects adjacent elements, same as using + but for general purposes*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .list {
        grid-column: 7 / 15;
        column-gap: 7.5%;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px){

}