* {
    box-sizing: border-box;
    margin: 0; /*normalize css*/
    padding: 0;
    /*border: 1px solid white; /*Used to see the container of each elements*/
}
:root {
    --main-font: Roboto, sans-serif;
    --font-color-menu: #e0e0e0;
    --font-color-main: hsl(245, 100%, 8%);
    scroll-padding-top: 3.4rem;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--main-font);
}
.checker {
    border: 1px solid white;
}
/*---------------------------------Header here-------------------------------------*/
header {
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 100;
    background: #0A014F;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.nav-unit {
    display: none;
    cursor: pointer;
    margin-left: 10px;
    height: 100%;
}
.bar {
    height: 5px;
    width: 35px;
    background-color: white;
    transition: all 0.5s ease;
}
.hamburger-clicked .bar {
    background-color: red;
}
.hamburger-clicked #bar-1 {
    transform: translate(0, 11px) rotate(45deg);
}
.hamburger-clicked #bar-2 {
    opacity: 0;
}
.hamburger-clicked #bar-3 {
    transform: translate(0, -11px) rotate(-45deg);
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: appear-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    margin-right: 1.5rem;
    transition: height 1s, opacity 0.5s, visibility 0.5s ease;
}
.list a {
    font-size: 1.1rem;
    background: transparent;
    height: 100%;
    color: var(--font-color-menu);
    font-weight: 900;
    text-decoration: none;
    transition: all 0.75s ease;
    margin: 0 2rem;
}
@keyframes appear-in  { /*translateY for moving an element. Opacity for transparent*/
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
/*Media queries for header*/
@media only screen and (max-width: 768px) {
    /*Header*/
    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .list {
        opacity: 0;
        height: 0;
        visibility: hidden;
        animation-name: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
    }
    .list a {
        transform: translateY(-20px);
        transition: transform 0.5s ease;
    }
    .list-small {
        opacity: 1;
        height: 50vh;
        visibility: visible;
    }
    .list-small a{
        transform: translateY(0);
    }
    .nav-unit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        row-gap: 6px;
        margin-right: 1.5rem;
    }
}
/*---------------------------------Header ends here-------------------------------------*/

/*---------------------------------Intro here-------------------------------------*/
#intro {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #3498DB 0%, #3498DB 50%, #00AAFF 50%, #00AAFF 100% );
    position: relative;
}
.intro-paragraph {
    height: 60%;
    width: 60%;
    position: absolute;
    top: 3%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: var(--font-color-main);
    font-weight: 900;
    font-size: 1.5rem;
    user-select: none;
    text-align: center;
}
#first-sentence {
    font-size: 5rem;
}
#clickable {
    color: red;
    cursor: pointer;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0ms;
}
.resume-button {
    display: none;
}
@media screen and (max-width: 950px) {
    .intro-paragraph {
        width: 80%;
        height: 60%;
        position: absolute;
        left: 10%;
    }
    #clickable {
        font-size: 5.5rem;
    }
}
@media screen and (max-width: 768px) {
    .intro-paragraph {
        height: 80%;
        width: 80%;
        top: 10%;
    }
    #first-sentence {
        font-size: 4rem;
    }
    #clickable {
        font-size: 4rem;
    }
}
@media screen and (max-height: 1000px) {

}
/*---------------------------------Intro ends here-------------------------------------*/

/*---------------------------------Experience here-------------------------------------*/
#experience {
    height: 100vh;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    position: relative;
}
.sign {
    background-image: url("./images/closed.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.sign {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 3rem;
}
/*Media queries for experience section*/
@media screen and (max-width: 600px) {
    .sign {
        width: 90%;
        height: 40%;
        left: 5%;
    }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
    .sign {
        width: 80%;
        left: 10%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
    .sign {
        width: 70%;
        left: 15%;
    }
}
/*---------------------------------Experience ends here-------------------------------------*/

/*---------------------------------Skills here-------------------------------------*/
#skills {
    height: 95vh;
    width: 100%;
    background-image: linear-gradient(180deg,  rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 99.9%);
    position: relative;
}

.skills-section{
    width: 80%;
    height: 75%;
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 2.5rem;
}
.about-me-paragraph {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    background-color: white;
}
.about-me-paragraph h {
    font-size: 5rem;
    font-weight: 900;
    color: red;
    cursor: pointer;
}
.about-me-paragraph p {
    text-align: center;
    transition: opacity 1.75s ease, transform 1.75s ease;
    margin-left: 20px;
    margin-right: 20px;
}
/*JS class*/
.about-me-text {
    opacity: 0;
    transform: translateY(-20px);
}
/**/
.skills-section ol, .about-me-paragraph, .skills-section ol div {
    border-radius: 10px;
}
.skills-list {
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.skills-list ol {
    width: 40%;
    height: 100%;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    cursor: grab;
    overflow: hidden;
    position: relative;
    color: navy;
    font-weight: bold;
}
.prog-heading {
    transition: transform 1s ease-in-out 0ms;
    user-select: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgb(255, 255, 204), rgb(255, 165, 0));
}
.prog-list {
    height: 100%;
    width: 100%;
    position: absolute; /*To hide with overflow: hidden in the container*/
    top: 100%;
    transition: top 1s ease-in-out 0ms; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, rgb(255, 165, 0), rgb(255, 140, 0));
}
/*Media queries follow a cascading pattern. So from biggest to smallest*/
@media screen and (max-width: 1200px){
    .skills-section {
        width: 90%;
        left: 5%;
        font-size: 2.2rem;
    }
    .skills-list ol{
        width: 45%;
    }
}
@media screen and (max-width: 1000px) {
    #skills {
        height: 150vh;
    }
    .skills-section {
        height: 90%;
        top: 5%;
        font-size: 2rem;
    }
    .about-me-paragraph h {
        font-size: 4rem;
    }
    .about-me-paragraph p {
        font-size: 2rem;
    }
    .skills-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;
    }
    .skills-list ol {
        width: 65%;
    }
}
@media screen and (max-width: 768px) {
    .skills-section {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 550px) {
    .skills-section {
        width: 90%;
        top: 20px;
        height: 90%;
    }
    .about-me-paragraph h {
        font-size: 3.5rem;
    }
    .about-me-paragraph p {
        font-size: 1.8rem;
    }
    .skills-list {
        height: 70%;
    }
    .skills-list ol {
        width: 100%;
        height: 60%;
    }
}
/*---------------------------------Skills end here-------------------------------------*/

/*---------------------------------Projects here-------------------------------------*/
#projects {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient( 91.2deg,  rgba(136,80,226,1) 4%, rgba(16,13,91,1) 96.5% );
    position: relative;

}
.projects-image-section {
    height: 80%;
    width: 80%;
    margin: auto;
    border: 5px solid yellow;
    border-radius: 10px;
    transition: transform 1s ease-in-out;
    transform: translateX(0%);
    overflow: hidden;
}
.projects-image {
    height: 100%;
    width: 100%;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
}
.switching {
    display: inline;
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    color: white;
    position: relative;
    top: 2%;
    left: 10%;
}
.imageId {
    height: 15px;
    width: 15px;
    user-select: none;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
.project-image-cap {
    width: fit-content;
    height: fit-content;
    background: beige;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    transition: width 1s ease;
    display: block;
    margin-top: 20px;
}
.project-image-cap span {
    color: red;
    font-weight: 700;
}
.javascript-extra {
    color: red;
}
#extra-javascript-projects {
    height: 0%;
    width: 100%;
    transition: height 1s ease;
}
.javascript-extra:active ~ #extra-javascript-projects {
    height: 100%;
}
/*Media queries for projects*/
@media screen and (max-width: 1000px) {

}
/*---------------------------------Projects end here-------------------------------------*/


/*---------------------------------Contacts here-------------------------------------*/
#contacts {
    width: 100%;
    background-image: linear-gradient(to right, rgba(2,37,78,1),rgba(4,56,126,1));
}
.contact-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.contact-socials {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    column-gap: 10px;
    row-gap: 10px;
}
.socials-logo {
    height: 50px;
    width: 50px;
    opacity: 0.5px;
    border-radius: 30%;
    transform: translateY(0);
    transition: transform 0.5s ease;
}
.socials-logo:hover {
    transform: translateY(-10px);
}
.contact-message {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-style: italic;   
    font-weight: 500;
    margin-left: 50px;
}
.contact-message p:nth-child(1) {
    font-size: 2rem;
}
.contact-message p:nth-child(2) {
    font-size: 1.5rem;
}
/*---------------------------------Contacts end here-------------------------------------*/