* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --background-first-color: #3498db;
}
html {
    overflow-y: hidden;
}
.menu-screen {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.intro {
    height: 100px;
    width: 500px;
    font-size: 2.5rem;
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: midnightblue;
    animation: appear-in 1.5s ease-in 0ms;
    transition: all 0.5s ease;
    transform: scale(1);
    cursor: pointer;
}
.intro:hover {
    transform: scale(1.25);
}
.game-button {
    height: 75px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid black;
    background-color:gold;
    font-size: 2rem;
    cursor: pointer;
    transition-property: transform;
    transition-timing-function: ease;
    transform: translateY(1500px);
}
#start {
    transition-duration: 1s;
}
#load {
    transition-duration: 2s;
}
#credit {
    transition-duration: 3s;
}
.start-game, .load-game, .credit-game{
    transform: translateY(0px);
}
.main-game, .pause-game, .you-died-screen {
    display: none;
}